<div class="container">
  <div class="page-header">
    <h1>画像位置の調整&nbsp;<small>(Step 2/3)</small></h1>
  </div>
  <p>写真をアップロードしてください。アップロードした写真のサイズ・位置を調整できます。<br>左の画像をドラッグすることで、表示したい領域を調整します。</p>

  <div class="row photo_adjust_area">
    <div class="col-md-6 crop_area">
      <h3>表示領域の調整</h3>
      <%= image_tag @image.input.url, width: '480px', height: 'auto', id: 'jcrop_target' %>
    </div>
    <div class="col-md-6 preview_area">
      <h3>プレビュー</h3>
      <div class="preview_photo">
        <%= image_tag @image.input.url, class: 'preview' %>
      </div>
      <%= image_tag CHIKUSHO_FLAMES[params[:fid].to_i], width: '420px', style: 'position:relative;' %>
    </div>
  </div>

  <p align="center">
    <%= link_to '画像を作成する', create_photo_path, class: 'btn btn-success btn-lg' %>
  </p>
</div>
