body {
  background-image:url('/assets/chikusho_top_bokashi.png');
  padding-top: 50px;
  .jumbotron {
    margin-top:20px;
    background-color:white;
    h1 { margin-bottom:30px; font-size:24px;}
    p#description { margin-top:30px; }
    p.banner_photo { margin-top:30px; }
    .create_photo_btn, .show_gallery_btn { margin-top:20px; }
    .create_photo_btn { margin-right:40px; }
    #image_input { font-size:13px; }
    #create_photo {
      p { margin-top:10px; }
    }
  }
}
header {
  a.navbar-brand { background-image:url('/assets/chikusho_logo_top.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:225px;
    color:transparent !important;
  }
}
.flame_select_area { border-right:#ddd 1px solid; }
.photo_upload_area {
  margin-left:20px;
  label { font-size:14px; }
}
.thumb_col {
  margin-bottom:30px;
  .flame_thumb { width:240px; }
  .photo_bg_blk { background-color: #ccc; }
  .next_btn { float:right; margin-top:50px; }
  label { margin-top:20px; }
}
a.selected { outline:3px solid #3276b1; }
.created_photo_area {
  border:#ddd 1px solid;
  padding:20px 0;
  .col-md-8 { border-right:#ddd 1px solid; }
  .save_btn a { width:100%; }
}
.crop_area { border-right:#ddd 1px solid; }
.preview_area {
  margin-bottom:20px;
  .preview_photo {
    width:420px;height:350px;overflow:hidden;position:absolute;
  }
}

ul.social-btns {
  list-style:none;
  padding:0;
  margin:0;
  li {
    display:inline;
    width:100px;
    margin-left:-5px;
    vertical-align: middle;
    .google_plusone > div { vertical-align:text-top !important; }
  }
}
li.facebook_like {
  iframe { vertical-align:text-top; }
}
