body { padding-top: 70px; }
header a.navbar-brand { background-image:url('/assets/shingeki_logo.png');
      background-position:center;
      background-repeat:no-repeat;
      background-size:225px;
      color:transparent !important;
}
